
@media (min-width: 1921px) {
    .menu-primary-menu {
        padding-left: 0;
        justify-content: center;
    }


    
}

@media (max-width: 1440px) {
    .menu-primary-menu {
        padding-left: 0;
        justify-content: center;
    }
    .footer > .right {
        right: 30px;
        top: 85px;
    }
    .footer > .left {
        left: 30px;
        top: 85px;
    }
    .our-menu .left {
        padding-top: 0;
        padding-left: 50px;
        width: 35%;
    }
    .our-menu .left .text-special {
        top: 0;
        left: 0;
    }
    .our-menu .wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
    .our-menu .right {
        padding-left: 0;
        padding-right: 40px;
        width: 45%;
    }
    .widget-menu-tab {
        margin-bottom: 40px;
    }
    .wg-introduction .wrap {
        gap: 30px;
    }
    .wg-introduction .wrap .content {
        padding-top: 0 !important;
        padding-left: 0px !important;
    }
    .customer-testimonial {
        background-position: center;
        background-size: cover;
    }
    .book-table .left {
        display: none;
    }
    .book-table .content {
        padding-left: 15px;
        min-width: 555px;
    }
    .book-table .wg-map {
        margin-left: 15px;
    }
    .book-table .images .item-2 {
        margin-left: 100px;
    }
    .portfolio-item .content {
        top: 50%;
        transform: translateY(-50%);
    }
    .home-2 .wrap > img {
        height: unset;
    }
    .portfolio-item .content {
        top: 50%;
        transform: translateY(-50%);
    }
    .wg-contact .bot-left,
    .wg-contact .top-right {
        padding: 30px;
    }
    .wg-contact .top-right > img,
    .wg-contact .bot-left > img {
        display: none;
    }

}

@media (max-width: 1200px) {
    .page-title .bottom div {
        padding-left: 40px;
        padding-right: 100px;
    }
    .book-table .right {
        /* flex-wrap: wrap; */
        width: 100%;
        justify-content: space-between;
    }
    .book-table .content {
        /* width: 100%; */
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .book-table .wg-map {
        /* margin-top: 0; */
        margin-right: 15px;
    }
    .book-table .images {
        display: none;
    }
    .wg-contact .top-right > ul {
        /* grid-template-columns: repeat(1,1fr); */
    }






}

@media (max-width: 1180px) {
    
}

@media (max-width: 1024px) {
    .wg-about .wrap {
        flex-wrap: wrap;
        padding: 0;
    }
    .wg-about .images {
        width: 100%;
        min-width: unset;
        height: unset;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .wg-about .images img {
        position: unset !important;
        width: 100%;
        margin-bottom: 15px;
    }
    .wg-service .right .item-2 {
        position: unset;
        width: 100%;
        margin-top: 15px;
    }
    .book-table .content {
        min-width: 500px;
    }
    .footer.style-1 .content .top .text {
        padding-top: 0;
    }
    



}

@media (max-width: 991px) {
    .tf-mouse,
    .canvas,
    .main-nav {
        display: none;
    }
    .mobile-button {
        display: block;
    }
    .header-inner {
        padding-top: 30px !important;
        padding-bottom: 29px !important;
    }
    .swiper-button,
    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination {
        display: none !important;
    }


    


}

@media (max-width: 820px) {
    .wg-service .right .item-1 {
        width: 100%;
    }
    .our-menu .wrap {
        flex-wrap: wrap;
    }
    .our-menu .left {
        width: 80%;
        margin-bottom: 100px;
    }
    .our-menu .center {
        margin-top: 0;
        text-align: center;
    }
    .our-menu .right {
        width: 100%;
    }
    .wg-introduction .wrap {
        flex-wrap: wrap;
    }
    .wg-introduction .wrap .content,
    .wg-introduction .wrap .image {
        width: 100%;
    }
    .book-table .right {
        flex-wrap: wrap;
    }
    .book-table .content {
        width: 100%;
        min-width: unset;
        padding-right: 15px;
    }
    .book-table .wg-map {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .home-2 .wrap > img {
        height: 500px;
    }


}

@media (max-width: 768px) {
    .footer .bottom {
        padding: 0;
        justify-content: center;
        gap: 15px;
    }
    .footer.style-1 .content .top > div,
    .footer.style-1 .content .top > form {
        width: 50%;
    }










}

@media (max-width: 700px) {
    br {
        display: none;
    }
    .page-title .content {
        padding-top: 60px;
        padding-bottom: 243px;
    }
    .page-title .bottom {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .page-title .bottom div {
        padding: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .wg-about .content {
        padding: 0;
    }
    .wg-service .left {
        padding: 30px;
    }
    .our-menu .center,
    .our-menu .left,
    .our-menu .right {
        width: 100%;
    }
    .our-menu .left {
        margin-bottom: 30px;
    }
    .widget-menu-tab {
        flex-wrap: wrap;
        margin-right: -40px;
    }
    .book-table .wg-map {
        width: 340px;
        min-width: 340px;
        height: 340px;
        margin-top: 0;
    }
    .footer > .left,
    .footer > .right {
        display: none;
    }
    .footer.style-1 .content .top {
        flex-wrap: wrap;
    }
    .footer.style-1 .content .top > div,
    .footer.style-1 .content .top > form {
        margin: 0 !;
        padding: 15px !important;
        width: 100% !important;
        text-align: center !important;
    }
    .home-2 .wrap > img {
        display: none;
    }
    .home-2 .wrap {
        height: 500px;
        width: 100%;
        background-image: url(../images/bg-section/bg-home-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    


}
